body {
    margin: 0;
    padding: 0;
}
.cards{
    margin: 10px auto ;
    padding: 10px 12px;
    display: block;
    /* border: 1px solid #5369f8; */
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 20px 30px -20px rgba(112, 112, 112, 0.651);
    color: rgba(26, 26, 26, 0.877);
    width: 95%;
    max-width: 50rem;
    
}

#img-perfil {
    width: 25%;
    min-width: 48px;
}
.grid-container {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "perfil desc";
}

.desc a{
    text-align: center;
    width: 25%;
    height: auto;
    min-width: 50px;
    padding: 8px 25px;
    margin-left: 20px;
    background: #5369f8;
    /* box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.25); */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    box-sizing: content-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(230, 230, 230);
    text-align: center;
}

#btn-rechazar{
    /* background: #F42C04; */
    background: #F2445B;
}
#btn-rechazar:hover{
    border: 1px solid #F2445B;
    box-shadow: none;
    background: none;
    color: #F2445B;
}
#btn-aceptar:hover{
    border: 1px solid #5369f8;
    box-shadow: none;
    background: none;
    color: #5369f8;
}

.perfil {
    /* background-color: blueviolet; */
    grid-area: perfil; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    overflow: auto;
    margin: 0;
}

.perfil img{
    display: table-cell;
    vertical-align: middle;
    margin: 0px auto;
    border-radius: 50%;
    border: 2px solid #777777de;
}

.perfil a{ 
    text-decoration: none;
    color: #5369f8;
    font-weight: 700;
    display: table-cell;
    vertical-align: middle;
    margin: 0px auto;
}

/* .perfil a:hover{ */
#btn-perfil:hover{
    color: #4059ff;
    font-weight: 900;
}

.desc {
    /* background-color: crimson; */
    grid-area: desc;
    text-align: justify;
    align-items: center;
    font-size: 12px;
}

.desc #nombre{
    color: #07090A;
    font-size: small;
    margin-bottom: 0;
    text-transform: uppercase;
}

.desc #habilidades{
    /* background-color: #f7f5f5; */
    color: #777777de;
    margin-top: 0;
    border-radius: 10px;
    border: 1px solid rgba(84, 125, 187, 0.527);
    padding: 2.5px 20px;
    text-align: justify;
}

.buttons {
    /* display: block; */
    display: inline-block;
    position: relative;
    margin-top: auto;
    margin-bottom: 5px;
    /* padding: 10px 0; */
    align-items: center;
}


.paginacionBtns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    /* color: #3F51B5; */
  }
  
  .paginacionBtns a{
    padding: 6px;
    margin: 1px;
    border-radius: 5px;
    border: 1px solid #3F51B5;
    color: #000;
    cursor: pointer;
  }
  
  .paginacionBtns a:hover{
    color: rgb(255, 255, 255);
    background-color: #3F51B5;
  }
  
  .pagActiva a{
    color: rgb(255, 255, 255);
    background-color: #ffffff;
  }

  .contenedorFormulario{
      display: flex;
      margin-bottom: 60px;
      justify-content: center;
      align-items: center;
  }

  .formulario{
      margin-top: 20px;
      padding-top: 10px;
      background-color: #fff;
      border-radius: 5px;
      display: flex;
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;

          
    -webkit-box-shadow: 5px 4px 10px 0px rgba(0,0,0,0.57); 
    box-shadow: 5px 4px 10px 0px rgba(0,0,0,0.57);

  }
  .form_section{
      margin-top: 10px;
      padding: 5px;
      min-width: 300px;
      
  }
.formulario input[type="datetime-local"] {
    font-size: 12px;
}
.formulario label{
    font-size: 14px;
}
/* cartaOfertas */
.contenedor-carta{
    display: flex;
    flex-wrap: wrap; 
    font-size: 16px;
    
}
.carta{
    margin: 10px ;
    padding: 10px;
    width: 360px;
    height: 650px;
    margin-left: 5px;
    
}

.carta:hover{
    margin-bottom: 10px;
    padding: 10px;
    width: 360px;
    height: 650px;
    margin-left: 5px;
    -webkit-box-shadow: 3px 4px 21px -4px rgba(0,0,0,0.92); 
    box-shadow: 3px 4px 21px -4px rgba(0,0,0,0.92);
    
}
.carta__imagen{
    width: 330px;
    height: 330px;
    border-radius: 2%;
    
}
.carta_header{
    height: 100px;
    width: 330px;
}
.carta_contenedor{
    width: 330px;
    height: 100px;
    text-align: start;
    margin-bottom: 25px;
}
.carta_contenedor__boton{
    margin-top: 10px 0px 5px;
}


.carta_boton:hover{
    color:#fff;
}



/* PERFIL */
.contenedor-perfil{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    min-height: 600px;
    grid-gap: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.6s;
    padding: 40px;
    margin-bottom: 50px;

}
.contenedor-perfil:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.contenedor-header{
    grid-row: 1/ span 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    
}
.contenedor-imagen{
    margin-top: 5px;
    height: 100%;
    width: 100%;
    
}
.contenedor-imagen img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.contenedor-datos{
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;

}
.contenedor-habilidades{
    grid-column: 2/ span 2;
    grid-row: 3 / span 2;
    display: flex;
    flex-direction: column;

}
.contenedor-botones{
    grid-column: 2/ span 2;
    grid-row: 4/ span 1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contenedor-botones input[type="submit"]{
    height: 50px;
    background-color:#3f51b5;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 6px 16px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif; 
    border: none;
    width: 300px;
    color: white;

}

/* PERFIL RESPONSIVE */


@media screen and (max-width:1200px){
    .contenedor-perfil{
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-bottom:  60px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.6s;
        padding: 40px;
    
    }
    .contenedor-perfil:hover{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    .contenedor-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contenedor-imagen{
        
        margin-top: 5px;
        height: 300px;
        width: 100%;

    }
    .contenedor-imagen img{
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }
    .contenedor-datos{
        padding-top: 20px;
        min-height: 300px;
    
    }
    .contenedor-habilidades{
        display: flex;
        flex-direction: column;
        min-height: 200px;
    
    }
    .contenedor-botones{
        min-height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .contenedor-botones input[type="submit"]{
        height: 50px;
        background-color:#3f51b5;
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
        padding: 6px 16px;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif; 
        border: none;
        width: 200px;
        color: white;
    
    }
}