body {
    margin: 0;
    padding: 0;
}
.cards{
    margin: 10px auto ;
    padding: 10px 12px;
    display: block;
    /* border: 1px solid #5369f8; */
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 20px 30px -20px rgba(112, 112, 112, 0.651);
    color: rgba(26, 26, 26, 0.877);
    width: 95%;
    max-width: 50rem;
    
}

#img-perfil {
    width: 25%;
    min-width: 48px;
}
.grid-container {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "perfil desc";
}

.desc a{
    text-align: center;
    width: 25%;
    height: auto;
    min-width: 50px;
    padding: 8px 25px;
    margin-left: 20px;
    background: #5369f8;
    /* box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.25); */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    box-sizing: content-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(230, 230, 230);
    text-align: center;
}

#btn-rechazar{
    /* background: #F42C04; */
    background: #F2445B;
}
#btn-rechazar:hover{
    border: 1px solid #F2445B;
    box-shadow: none;
    background: none;
    color: #F2445B;
}
#btn-aceptar:hover{
    border: 1px solid #5369f8;
    box-shadow: none;
    background: none;
    color: #5369f8;
}

.perfil {
    /* background-color: blueviolet; */
    grid-area: perfil; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    overflow: auto;
    margin: 0;
}

.perfil img{
    display: table-cell;
    vertical-align: middle;
    margin: 0px auto;
    border-radius: 50%;
    border: 2px solid #777777de;
}

.perfil a{ 
    text-decoration: none;
    color: #5369f8;
    font-weight: 700;
    display: table-cell;
    vertical-align: middle;
    margin: 0px auto;
}

/* .perfil a:hover{ */
#btn-perfil:hover{
    color: #4059ff;
    font-weight: 900;
}

.desc {
    /* background-color: crimson; */
    grid-area: desc;
    text-align: justify;
    align-items: center;
    font-size: 12px;
}

.desc #nombre{
    color: #07090A;
    font-size: small;
    margin-bottom: 0;
    text-transform: uppercase;
}

.desc #habilidades{
    /* background-color: #f7f5f5; */
    color: #777777de;
    margin-top: 0;
    border-radius: 10px;
    border: 1px solid rgba(84, 125, 187, 0.527);
    padding: 2.5px 20px;
    text-align: justify;
}

.buttons {
    /* display: block; */
    display: inline-block;
    float: right;
    position: relative;
    margin-top: auto;
    margin-bottom: 5px;
    /* padding: 10px 0; */
    align-items: center;
}


.paginacionBtns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    /* color: #3F51B5; */
  }
  
  .paginacionBtns a{
    padding: 6px;
    margin: 1px;
    border-radius: 5px;
    border: 1px solid #3F51B5;
    color: #000;
    cursor: pointer;
  }
  
  .paginacionBtns a:hover{
    color: rgb(255, 255, 255);
    background-color: #3F51B5;
  }
  
  .pagActiva a{
    color: rgb(255, 255, 255);
    background-color: #ffffff;
  }


  .contenedorfrom{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 10px;
  }

  .formulario{
      padding-top: 20px;
      background-color: white;
      border-radius: 5px;
      width: 100%;
      border: 2px solid white;
      margin: 0;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.253);
  }
  .form-img{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.form-img__img{
    width: 360px;
    height: 360px;
    object-fit: cover;
}

.contenedor-carta{
    display: flex;
    flex-wrap: wrap; 
    font-size: 16px;
    
}
.carta{
    margin-bottom: 10px;
    padding: 10px;
    width: 400px;
    height: 700px;
    margin-left: 5px;
    
}
.carta__imagen{
    width: 380px;
    height: 400px;
    border-radius: 5px;
}
.carta_header{
    height: 100px;
    width: 380px;
}
.carta_contenedor{
    width: 380px;
    height: 100px;
    text-align: start;
    margin-bottom: 25px;
}
.carta_contenedor__boton{
    margin-top: 10px 0px 5px;
}


.carta_boton:hover{
    color:#fff;
}
