body {
    margin: 0;
    padding: 0;
}
.cards{
    margin: 10px auto ;
    padding: 10px 12px;
    display: block;
    /* border: 1px solid #5369f8; */
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 20px 30px -20px rgba(112, 112, 112, 0.651);
    color: rgba(26, 26, 26, 0.877);
    width: 95%;
    max-width: 50rem;
    
}

#img-perfil {
    width: 25%;
    min-width: 48px;
}
.grid-container {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "perfil desc";
}

.desc a{
    text-align: center;
    width: 25%;
    height: auto;
    min-width: 50px;
    padding: 8px 25px;
    margin-left: 20px;
    background: #5369f8;
    /* box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.25); */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    box-sizing: content-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(230, 230, 230);
    text-align: center;
}

#btn-rechazar{
    /* background: #F42C04; */
    background: #F2445B;
}
#btn-rechazar:hover{
    border: 1px solid #F2445B;
    box-shadow: none;
    background: none;
    color: #F2445B;
}
#btn-aceptar:hover{
    border: 1px solid #5369f8;
    box-shadow: none;
    background: none;
    color: #5369f8;
}

.perfil {
    /* background-color: blueviolet; */
    grid-area: perfil; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    overflow: auto;
    margin: 0;
}

.perfil img{
    display: table-cell;
    vertical-align: middle;
    margin: 0px auto;
    border-radius: 50%;
    border: 2px solid #777777de;
}

.perfil a{ 
    text-decoration: none;
    color: #5369f8;
    font-weight: 700;
    display: table-cell;
    vertical-align: middle;
    margin: 0px auto;
}

/* .perfil a:hover{ */
#btn-perfil:hover{
    color: #4059ff;
    font-weight: 900;
}

.desc {
    /* background-color: crimson; */
    grid-area: desc;
    text-align: justify;
    align-items: center;
    font-size: 12px;
}

.desc #nombre{
    color: #07090A;
    font-size: small;
    margin-bottom: 0;
    text-transform: uppercase;
}

.desc #habilidades{
    /* background-color: #f7f5f5; */
    color: #777777de;
    margin-top: 0;
    border-radius: 10px;
    border: 1px solid rgba(84, 125, 187, 0.527);
    padding: 2.5px 20px;
    text-align: justify;
}

.buttons {
    /* display: block; */
    display: inline-block;
    position: relative;
    margin-top: auto;
    margin-bottom: 5px;
    /* padding: 10px 0; */
    align-items: center;
}


.paginacionBtns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    /* color: #3F51B5; */
  }
  
.paginacionBtns a{
    padding: 6px;
    margin: 1px;
    border-radius: 5px;
    border: 1px solid #3F51B5;
    color: #000;
    cursor: pointer;
  }
  
.paginacionBtns a:hover{
    color: rgb(255, 255, 255);
    background-color: #3F51B5;
  }
  
.pagActiva a{
    color: rgb(255, 255, 255);
    background-color: #ffffff;
  }

.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 50px;
    grid-template-areas:
    "Datos Datos IMAGEN IMAGEN"
    "Datos Datos IMAGEN IMAGEN"
    "Botones Botones Botones Botones";
  }

.Datos { 
    
    grid-area: Datos;
    display: flex;
    flex-direction: column;  
 }
 .Datos_categoriaYhabilidad{
    margin-bottom: 20px;
 }
 .Datos_Fechayhora{
    margin-bottom: 30px;
    margin-left: auto;
    width: 100%;
 }
 .formulario-propina{
     margin-top: 50px;
     width: 350px;
     margin-left: 10px;
 }
.IMAGEN { grid-area: IMAGEN;
    display: flex; 
    flex-direction: column;
    margin-top: 20px;
}
.Botones { grid-area: Botones; }

/* cartaOfertas */
.contenedor-carta{
    display: flex;
    flex-wrap: wrap; 
    font-size: 16px;
    
}
.carta{
    margin: 10px ;
    padding: 10px;
    width: 360px;
    height: 650px;
    margin-left: 5px;
    
}

.carta:hover{
    margin-bottom: 10px;
    padding: 10px;
    width: 360px;
    height: 650px;
    margin-left: 5px;
    -webkit-box-shadow: 3px 4px 21px -4px rgba(0,0,0,0.92); 
    box-shadow: 3px 4px 21px -4px rgba(0,0,0,0.92);
    
}

.carta__imagen{
    width: 330px;
    height: 330px;
    border-radius: 2%;
    
}
.carta_header{
    height: 100px;
    width: 330px;
}
.carta_contenedor{
    width: 330px;
    height: 100px;
    text-align: start;
    margin-bottom: 25px;
}
.carta_contenedor__boton{
    margin-top: 10px 0px 5px;
}

.carta_boton:hover{
    color:#fff;
}
/* PERFIL */

/* TODO utilizar mejor grid AREAS*/

.contenedor-perfil {
    font-size: 20px;
    display: grid;
    grid-template-columns: 500px 1fr 1fr 1fr;
    grid-template-rows: 150px 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 50px;
    grid-template-areas:
      "Titulo Titulo Titulo Titulo"
      "contenedor-header contenedor-datos contenedor-datos contenedor-datos"
      "contenedor-header contenedor-descripcion contenedor-descripcion contenedor-descripcion"
      "contenedor-header contenedor-habilidades contenedor-habilidades contenedor-habilidades"
      "contenedor-header contenedor-botones contenedor-botones contenedor-botones";
    margin-top: 20px;
    height: 100%;
    margin-bottom:  60px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.6s;
    padding: 30px;
    background-color: #fff;
    }
.contenedor-perfil h5{
    font-size: 20px;
}
.contenedor-perfil h3{
    font-size: 28px;
}
.Titulo { 
    grid-area: Titulo;
    

}
.Titulo h2 { 
    text-align: center; 

}
.contenedor-datos { grid-area: contenedor-datos; }
.contenedor-descripcion { grid-area: contenedor-descripcion; }
.contenedor-habilidades { grid-area: contenedor-habilidades; }
.contenedor-header { grid-area: contenedor-header; }
.contenedor-botones { grid-area: contenedor-botones; }

.contenedor-header{
    display: flex;
    flex-direction: column;
}
.contenedor-imagen img{
    border: 1px solid rgb(214, 214, 214);
    width: 100%;
    height: 700px;
    object-fit: scale-down;
}

/* CAMBIAR FOTO*/
.contenedor-cambiarFoto{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 30px;
}
.input-file-input {
    display:none;
    color: rgb(0, 0, 0);
}
.input-file__btn {
      color: black;
      width: 170px;
      text-align: center;
      line-height: 22px;
      cursor: pointer;
      text-decoration: underline;
}
.input-file__btn:hover {
      color: rgb(6, 73, 173);
      text-decoration: underline ;
}
  
.input-file__btn:active {
      -webkit-box-shadow: 0 3px 5px var(--color-shadow-btn-active) inset;
      box-shadow: 0 3px 5px var(--color-shadow-btn-active) inset;
      color: rgb(0, 0, 0);
}

.imagenPrev{
    height: 350px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 350px;
    padding: 10px;
}

.imagenPrev__img{
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}
.custom-file{
    width: 360px;
}
/* end CAMBIAR FOTO*/
/* DATOS */

.contenedor-datos__titulo{
    display:flex;
    justify-content: center;
}
.contenedor-datos__titulo button{
    margin-left: 80px;
    border: none;
    background-color: white;
}

.contenedor-datos-datos {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
}
.contenedor-datos-datos-1 {

    margin-top: 10px;
    display: flex;
    flex-direction: column;
    
}
.contenedor-datos-datos-2 {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.contenedor-datos-datos h5{
    display: inline-block;
    margin-left: 5px;
    
}
.contenedor-descripcion__titulo{
    display: flex;
    justify-content: center;
}
.contenedor-descripcion__titulo button{
    margin-left: 80px;
    border: none;
    background-color: white;
}
.contenedor-descripcion{
    display: flex;
    flex-direction: column;

}
.contenedor-descripcion__descripcion{
    
    background-color: rgb(231, 231, 231);
    border-top: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    width: 60%;
    align-self: center;

}
.contenedor-habilidades h3{
    text-align: center;
}

.contenedor-habilidades{
    overflow: auto;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    border-bottom: 1px solid black;

}
.contenedor-botones{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contenedor-botones input[type="submit"]{
    height: 50px;
    background-color:#3f51b5;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 6px 16px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif; 
    border: none;
    width: 200px;
    color: white;

}


/* PERFIL RESPONSIVE */


@media screen and (max-width:1500px){
    .contenedor-descripcion__descripcion{
        width: 90%;
    }
}

@media screen and (max-width:1400px){
    .contenedor-descripcion__descripcion{
        width: 90%;
    }
    h3{
        font-size: 15px;
    }
    h5{
        font-size: 13px;
    }
    .contenedor-perfil{
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-bottom:  60px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.6s;
        padding: 30px;
        background-color: #fff;
        font-size: 15px;
    
    }
    .contenedor-perfil:hover{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    .contenedor-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 450px;
        align-items: center;
    }
    .contenedor-imagen{
        
        margin-top: 5px;
        height: 340px;
        width: 340px;
        border-radius: 50%;
        

    }
    .contenedor-imagen img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
    .contenedor-datos__titulo{
        display:flex;
        justify-content: center;
    }
    .contenedor-datos__titulo button{
        margin-left: 30px;
    }
    .contenedor-descripcion__titulo{
        display: flex;
        justify-content: center;
    }
    .contenedor-descripcion__titulo button{
        margin-left: 30px;
    }
    .contenedor-datos{
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding-top: 20px;
        min-height: 150px;
    
    }
    .contenedor-datos h3{
        text-align: center;
    
    }
    .contenedor-descripcion h6{
        background-color: white;
        border-top: 1px solid white;
        border-radius: 5px;
        padding: 10px;
        
    }
    .contenedor-descripcion h3{
        text-align: center;
        
    }
    
    .contenedor-habilidades h3{
        text-align: center;
    }
    .contenedor-habilidades div{
        background-color: white;
        border-top: 1px solid white;
        border-radius: 5px;
        padding: 10px;
    }
    .contenedor-habilidades{
        overflow: auto;
        display: flex;
        flex-direction: column;
        min-height: 200px;
        border-bottom: 1px solid black;
    
    }


    .contenedor-botones{
        min-height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .contenedor-botones input[type="submit"]{
        height: 50px;
        background-color:#3f51b5;
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
        padding: 6px 16px;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif; 
        border: none;
        width: 200px;
        color: white;
    
    }
}
@media screen and (max-width:1300px){
    .contenedor-descripcion__descripcion{
        width: 90%;
    }
    .contenedor-perfil h5{
        font-size: 14px

    }
}
@media screen and (max-width:610px){

    .contenedor-perfil{
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-bottom:  60px;
        transition: 0.6s;
        padding-left: 15px;
        box-shadow: 0;
        border: none;
        padding: 10px;
    
    
    }
    .contenedor-perfil h5{
        font-size: 15px

    }
    .contenedor-perfil h3{
        font-size: 20px

    }
    
    .contenedor-header{
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
        min-height: 300px;
        
    }
    .contenedor-cambiarFoto{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .input-file-input {
        display:none;
        color: rgb(0, 0, 0);
    }
    .input-file__btn {
          color: black;
          width: 170px;
          text-align: center;
          line-height: 22px;
          cursor: pointer;
          text-decoration: underline;
    }
    .input-file__btn:hover {
        color: rgb(6, 73, 173);
        text-decoration: underline ;
    }
    .input-file__btn:active {
          -webkit-box-shadow: 0 3px 5px var(--color-shadow-btn-active) inset;
          box-shadow: 0 3px 5px var(--color-shadow-btn-active) inset;
          color: rgb(0, 0, 0);
      }
    .contenedor-imagen{
        height: 200px;
        width: 200px;
        border-radius: 50%;

    }
    .contenedor-imagen img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
    .contenedor-datos{
        border-top: 1px solid black;
        padding-bottom: 5px;
        padding-top: 5px;
        min-height: 150px;
    
    }

    .contenedor-habilidades{
        overflow: auto;
        display: flex;
        flex-direction: column;
        min-height: 200px;
        border-bottom: 1px solid black;
    
    }
    .contenedor-botones{
        min-height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .contenedor-botones input[type="submit"]{
        height: 50px;
        background-color:#3f51b5;
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
        padding: 6px 16px;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif; 
        border: none;
        width: 200px;
        color: white;
    
    }
}

@media screen and (max-width:480px){

    .contenedor-perfil h5{
        font-size: 12px

    }
    .contenedor-perfil h3{
        font-size: 18px

    }
}
@media screen and (max-width:380px){

    .contenedor-perfil h5{
        font-size: 7px

    }
    .contenedor-perfil h2{
        font-size: 16px

    }
    .contenedor-perfil label{
        font-size: 12px

    }
    .contenedor-perfil h3{
        font-size: 12px

    }
}
